/* LayerSlider Borderless Light Skin */



.ls-borderlesslight .ls-playvideo {
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
}

.ls-borderlesslight .ls-playvideo,
.ls-borderlesslight .ls-nav-sides,
.ls-borderlesslight .ls-bottom-slidebuttons a,
.ls-borderlesslight .ls-nav-prev,
.ls-borderlesslight .ls-nav-next,
.ls-borderlesslight .ls-nav-start,
.ls-borderlesslight .ls-nav-stop,
.ls-borderlesslight .ls-fullscreen,
.ls-borderlesslight .ls-loading-container {
	background-image: url(../../../../img/layerslider/skins/borderlesslight/skin.png);
}

.ls-borderlesslight .ls-playvideo {
	background-position: -300px -150px;
}

.ls-borderlesslight .ls-playvideo:hover,
.ls-borderlesslight .ls-vpcontainer:hover .ls-playvideo {
	background-position: -375px -150px;
}

.ls-borderlesslight .ls-nav-prev {
	background-position: 0px 0px;
}

.ls-borderlesslight .ls-nav-prev:hover {
	background-position: 0px -75px;
}

.ls-borderlesslight .ls-nav-next {
	background-position: -150px 0px;
}

.ls-borderlesslight .ls-nav-next:hover {
	background-position: -150px -75px;
}

.ls-borderlesslight .ls-nav-start {
	background-position: -300px 0px;
}

.ls-borderlesslight .ls-nav-start:hover,
.ls-borderlesslight .ls-nav-start-active {
	background-position: -300px -75px;
}

.ls-borderlesslight .ls-nav-stop {
	background-position: -450px 0px;
}

.ls-borderlesslight .ls-nav-stop:hover,
.ls-borderlesslight .ls-nav-stop-active {
	background-position: -450px -75px;
}

.ls-borderlesslight .ls-bottom-slidebuttons a {
	background-position: 0px -150px;
}

.ls-borderlesslight .ls-bottom-slidebuttons a.ls-nav-active,
.ls-borderlesslight .ls-bottom-slidebuttons a:hover {
	background-position: -75px -150px;
}

.ls-borderlesslight .ls-nav-sideleft {
	background-position: -150px -150px;
}

.ls-borderlesslight .ls-nav-sideright {
	background-position: -225px -150px;
}



.ls-borderlesslight .ls-nav-prev,
.ls-borderlesslight .ls-nav-next {
	width: 50px;
	height: 50px;
	z-index: 10000;
	top: 50%;
	margin-top: -22px;
	position: absolute;
}

.ls-borderlesslight .ls-nav-prev {
	left: 10px;
}

.ls-borderlesslight .ls-nav-next {
	right: 10px;
}



.ls-borderlesslight .ls-bottom-slidebuttons,
.ls-borderlesslight .ls-bottom-slidebuttons a,
.ls-borderlesslight .ls-nav-start,
.ls-borderlesslight .ls-nav-stop,
.ls-borderlesslight .ls-nav-sides {
	height: 36px;
}

.ls-borderlesslight .ls-bottom-slidebuttons,
.ls-borderlesslight .ls-bottom-slidebuttons a,
.ls-borderlesslight .ls-nav-start,
.ls-borderlesslight .ls-nav-stop,
.ls-borderlesslight .ls-nav-sides {
	display: inline-block !important;
}

.ls-borderlesslight .ls-bottom-nav-wrapper {
	top: -44px;
}

.ls-borderlesslight .ls-nav-start,
.ls-borderlesslight .ls-nav-stop {
	width: 24px;
}

.ls-borderlesslight .ls-bottom-slidebuttons a {
	width: 20px;
}

.ls-borderlesslight .ls-nav-sides {
	width: 13px;
}



.ls-borderlesslight .ls-thumbnail-hover {
	bottom: 45px;
	padding: 3px;
	margin-left: 1px;
}

.ls-borderlesslight .ls-thumbnail-hover-bg {
	background: #eee;
	box-shadow: 0px 2px 12px -4px black;
	border-radius: 4px;
}

.ls-borderlesslight .ls-thumbnail-hover span {
	border: 5px solid #eee;
	margin-left: -5px;
}



.ls-borderlesslight .ls-thumbnail {
	top: 15px;
}

.ls-borderlesslight .ls-thumbnail-inner {
	padding: 2px;
	margin-left: -2px;
	background: #fff;
	border-radius: 4px;
}

.ls-borderlesslight .ls-thumbnail-slide a {
	margin-right: 2px;
}

.ls-borderlesslight .ls-nothumb {
	background: #eee;
}



.ls-borderlesslight .ls-shadow {
	display: none !important;
}
.ls-borderlesslight[id]::after {
	content: '';
	pointer-events: none;
	position: absolute;
	left: 0;
	bottom: 0;
	margin-bottom: -100px;
	height: 200px;
	width: 100%;
	background: url(../../../../img/layerslider/skins/borderlesslight/shadow.png) no-repeat center/contain;
	z-index: 10;
	opacity: 0;
	-webkit-transition: 0.4s opacity 0.1s;
	-moz-transition: 0.4s opacity 0.1s;
	transition: 0.4s opacity 0.1s;
}
.ls-borderlesslight[style*=visible]::after {
	opacity: 1;
}



.ls-borderlesslight .ls-loading-container {
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -22px;
	background-position: -450px -150px;
}

.ls-borderlesslight .ls-loading-indicator {
	width: 22px;
	height: 22px;
	margin-top: 11px;
	background-image: url(../../../../img/layerslider/skins/borderlesslight/loading.gif);
}



.ls-borderlesslight .ls-fullscreen {
	width: 30px;
	height: 30px;
	right: 10px;
	top: 10px;
	background-position: -525px -150px;
}

.ls-borderlesslight .ls-fullscreen:hover {
	background-position: -525px -190px;
}