#content.nobootstrap {
	font-family: "Open Sans",sans-serif;
	padding: 64px 15px 0;
}

html[xmlns] .clearfix.ls-sublayer-page:not(.active),
.hidden {
	display: none;
}

.wrap {
	padding-top: 16px;
}
.ls-wp-hack + .wrap {
	padding-top: 0;
}

#ls-list-page .ls-bulk-actions {
	width: 340px;
}
.ls-font-search input {
	min-width: 310px;
}

.adminlayerslider > ul,
.nobootstrap ul {
	list-style: none;
}
.nobootstrap ol, .nobootstrap ul, .adminlayerslider > ul {
	padding: 0;
}
.nobootstrap dd, .nobootstrap li {
	margin-bottom: 6px;
}
.nobootstrap label {
	width: auto;
	float: none;
}
.nobootstrap .page-head {
	position: absolute;
	height: 64px;
}
.nobootstrap input[type=number], .nobootstrap input[type=search] {
	border: 1px solid #ccc;
}

.ls-sliders-list .button .dashicons {
	margin: 0 !important;
}
#slider-editor-toolbar .ls-editor-alignment .dashicons {
	line-height: 19px;
}
.ls-su-content {
	background: #fff;
}

#ls-media-window {
	height: 560px;
}
#ls-media-window iframe {
	height: 530px;
	margin: 0;
}
#ls-media-window h1 a {
	float: right;
	cursor: pointer;
}

.ls-conf.dashicons {
	font-size: 18px;
	vertical-align: text-top;
}

.ls-layer-duplicate span {
	vertical-align: text-bottom;
}
input[name=transformoriginin].sublayerprop,
input[name=transformoriginout].sublayerprop,
input[name=hovertransformorigin].sublayerprop,
input[name=looptransformorigin].sublayerprop {
	padding-left: 22px;
}

.minicolors-theme-default input[type=text].minicolors-input {
	padding-left: 26px;
}

.alert.alert-success,
.ls-post-taxonomy,
select[name=post_tax_terms],
a.dashicons-star-filled,
.ls-premium .dashicons-star-filled,
.ls-insert-media,
#ls-guides,
.subhead-collapse { display: none !important; }

.ls-slider-settings td.half .ls-datepicker-wrapper label {
	position: static;
	line-height: 19px;
}

div.ls-plugin-settings {
	margin-bottom: 30px !important;
}

.ls-box h4 {
	line-height: 29px;
}
.ls-set-screen-types .button {
	vertical-align: top;
}
.ls-box select,
.ls-box button,
.ls-box input,
.nobootstrap select,
.nobootstrap button,
.nobootstrap input {
	height: 28px;
	padding: 3px 5px;
}
.ls-box .button,
.nobootstrap .button {
	background: #f7f7f7;
	border: 1px solid #ccc;
}
.nobootstrap .button-primary {
	background: #0085ba;
	color: #fff;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
	border-width: 1px;
	border-color: #0073aa #006799 #006799;
	border-radius: 3px;
}
.nobootstrap .button-primary:hover {
	border-color: #0073aa #006799 #006799;
}
.nobootstrap .button-disabled, .nobootstrap .button-secondary.disabled, .nobootstrap .button-secondary:disabled,
.nobootstrap .button-secondary[disabled], .nobootstrap .button.disabled, .nobootstrap .button:disabled, .nobootstrap .button[disabled] {
	color: #a0a5aa!important;
	border-color: #ddd!important;
	background: #f7f7f7!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	text-shadow: 0 1px 0 #fff!important;
	cursor: default;
	-webkit-transform: none!important;
	-ms-transform: none!important;
	transform: none!important;
}

.km-ui-modal-window .button {
	border-width: 1px;
}

#ls-add-slider-template .inner input {
	margin-bottom: 10px;
}
#ls-add-slider-template .button i {
	margin: 0;
}
#ls-add-slider-template-list input {
	border: 1px solid #ccc;
	padding: 3px 5px;
}

#content.nobootstrap button {
	margin-top: 0;
	margin-bottom: 0;
	line-height: normal;
}
.nobootstrap button {
	padding-left: 10px;
	padding-right: 10px;
}
.nobootstrap .ls-sublayer-element {
	padding-top: 20px;
}

#content .toolbar_btn {
	padding: 3px 5px !important;
}

.nobootstrap .ls-editor-zoom .ui-slider-handle {
	margin-top: -3px !important;
}

.ls-slide-link input[name=url] {
	height: 27px;
}

form.ls-slider-list-form {
	margin-bottom: 80px;
}
.ls-skin-editor-box form {
	margin-bottom: 0;
}

.ls-slider-dimensions div span {
	margin-top: 4px;
}

.ls-checkbox.checkbox {
	padding: 0;
}

.ls-notification.info a {
	color: #0073aa !important;
	text-decoration: none !important;
}
.ls-notification.info a:hover {
	color: #00A0D2 !important;
}

textarea[name=sliderstyle],
textarea.style {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

#content input.ls-sublayer-title {
	margin: 6px 0 0 42px;
	padding: 3px 5px;
	height: 14px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#content .ls-posts-configured input {
	margin: 15px 10px 15px 0;
}
#content .ls-posts-configured button {
	margin-bottom: 15px;
}
#content .ls-posts-configured p {
	display: block;
	margin: 10px auto;
}

.ls-settings select[name],
.ls-settings input[type=text],
.ls-settings input[type=number] {
	margin: 1px;
	padding: 3px 5px;
	height: 27px;
}

.ls-tr-tags input[type=text] {
	height: 21px;
}

.ls-layers-settings select {
	padding-right: 3px;
}
.ls-settings input[name=slug] {
	height: 36px;
}

.ls-hook ~ .dashicons {
	display: none;
	margin-left: 5px;
	line-height: 28px !important;
	height: 28px;
	cursor: pointer;
}

.layer-properties-box > li > ul > li > div .minicolors-swatch {
	margin-top: 2px;
}
.layer-properties-box > li > ul > li > div select {
	position: static !important;
}

.ls-layer-kind ul {
	margin: 0;
}

a:hover,
a:focus {
	text-decoration: none !important;
}

.ls-system-status .ls-link:hover,
.ls-system-status .ls-link {
	position: static !important;
}

.slider-item a.preview {
	display: block;
}

.ls-checkbox.small {
	min-height: 0;
	padding: 0;
}

body input[type=checkbox] {
	margin-top: 0;
}

#ls-import-sliders-button {
	background-color: #2EA2CC;
	color: #fff;
}
#ls-import-sliders-button:hover {
	background-color: #45B8E2;
}

/* copy, paste layer style / transition */
.copy[data-storage], .paste[data-storage] {
	color: #333333;
	cursor: pointer;
}
.copy.active[data-storage], .paste.active[data-storage] {
	color: #0073aa;
}

body.body-overlayed embed, body.body-overlayed object, body.body-overlayed select {
	visibility: inherit;
}

.ls-import-close {
	position: absolute;
	right: 3px;
	color: white;
	cursor: pointer;
}

.ls-preview-mode {
	text-align: center;
}
.ls-preview-mode .dashicons {
	cursor: pointer;
	opacity: 0.5;
}
.ls-positioning {
	text-align: right;
}

.ls-preview-mode .dashicons:hover,
.ls-phone .ls-preview-mode .dashicons-smartphone,
.ls-tablet .ls-preview-mode .dashicons-tablet,
.ls-desktop .ls-preview-mode .dashicons-desktop {
	opacity: 1;
}

.ls-phone .ls-hide-phone,
.ls-tablet .ls-hide-tablet,
.ls-desktop .ls-hide-desktop {
	display: none !important;
}

.ls-devices {
	display: none;
	margin-left: 10px;
	line-height: 34px;
}
.ls-sublayers > .active .ls-devices {
	display: inline-block;
}
.ls-devices .dashicons {
	position: relative;
	color: rgba(51, 51, 51, 0.5);
}
.ls-devices .dashicons.active:after {
	content: "\f335";
	position: absolute;
	font-family: "dashicons";
	color: #DF3A36;
	top: 0;
	left: -2px;
	font-size: 24px;
}

.splittext > td:first-child {
	position: relative;
	box-shadow: 0 -1px 0 #fff;
}

.ls-preview.ls-dragover {
	border-color: transparent;
	-webkit-transition: outline-color 250ms;
	-moz-transition: outline-color 250ms;
	transition: outline-color 250ms;
}
.ls-preview.ls-dragover:after {
	pointer-events: none;
	content: attr(data-dragover);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: 4px dashed #dfdfdf;
	text-align: center;
	background: rgba(255,255,255,0.5);
	color: rgb(51, 51, 51);
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	z-index: 99999;
}
.ls-preview.ls-draghover:after {
	content: "";
	background: transparent;
	outline-color: #b0e24b;
}

.ls-ico[data-move=top] {
	background-position: 0px 50%;
}
.ls-ico[data-move=middle] {
	background-position: 117px 50%;
}
.ls-ico[data-move=bottom] {
	background-position: 93px 50%;
}
.ls-ico[data-move=left] {
	background-position: 68px 50%;
}
.ls-ico[data-move=center] {
	background-position: 20px 50%;
}
.ls-ico[data-move=right] {
	background-position: 44px 50%;
}

#ls-slider-form h4{
 font-size: 12px;
}

#ls-slider-form a:focus,
#ls-slider-form a:hover{
	text-decoration: none;
}

.ls-selected {
	outline: 1px dashed #1474a2;
}
img.ls-selected.ui-draggable-dragging {
	outline: 0;
}

/* hover select */
select.sublayerprop.connect-hover {
	width: 100px;
}

/* notifications */

div.notice, div.error, div.updated {
	color: rgb(68, 68, 68) !important;
	background: #fff;
	border-left: 4px solid #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	margin: 5px 0 15px;
	padding: 1px 12px;
	-webkit-border-radius: 0;
	border-radius: 0;
}
div.updated {
	border-left-color: #46b450;
}
div.error {
	border-left-color: #dc3232;
}

/*------------------------------------------------------------------------------
	6.1 - Screen Options Tabs
------------------------------------------------------------------------------*/

#screen-options-wrap {
	margin: 0;
	padding: 8px 20px 12px;
	position: relative;
}

#contextual-help-wrap {
	overflow: auto;
	margin-left: 0 !important;
}

#screen-meta .screen-reader-text {
	visibility: hidden;
}

.wrap > h2 {
	margin-top: 0;
}
.wrap > h2:empty {
	display: none;
}

/* screen options and help tabs revert */
#screen-meta {
	display: none;
	margin: 0 0 -1px 0px;
	position: relative;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: none;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.025);
	box-shadow: 0 1px 0 rgba(0,0,0,.025);
}

#screen-options-link-wrap,
#contextual-help-link-wrap {
	float: right;
	height: 28px;
	margin: 0 0 0 6px;
	border: 1px solid #ddd;
	border-top: none;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
}

#screen-meta-links .screen-meta-toggle {
	position: relative;
	top: 0;
}

#screen-meta-links .show-settings {
	border: 0;
	background: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #72777c;
	line-height: 1.7;
	padding: 3px 6px 3px 16px;
}

#screen-meta-links .show-settings:hover,
#screen-meta-links .show-settings:active,
#screen-meta-links .show-settings:focus {
	color: #32373c;
}

#screen-meta-links .show-settings:active {
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

#screen-meta-links .show-settings:after {
	right: 0;
	content: "\f140";
	font: normal 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0 5px 0 0;
	bottom: 2px;
	position: relative;
	vertical-align: bottom;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	color: #72777c;
}

#screen-meta-links .screen-meta-active:after {
	content: "\f142";
}

#screen-meta .hidden {
	visibility: visible;
}
#screen-meta form,
#screen-meta label {
	margin: 0;
}

#contextual-help-wrap h5, #screen-options-wrap h5, #screen-options-wrap legend {
	margin: 0;
	padding: 8px 0;
	font-size: 13px;
	font-weight: 600;
}

/* end screen options and help tabs */

#ls-main-nav-bar .faq,
.com_layer_slider header.header{
	display:none;
}

input.current-page{
	width: auto;
}

.ls-font-list li{
	display:block;
	margin-bottom:6px;
}

.wrap .add-new-h2, .wrap .add-new-h2:active {
		background: none repeat scroll 0 0 #E0E0E0;
}

.wrap .add-new-h2, .wrap .add-new-h2:active {
		border: 0 none;
		border-radius: 2px;
		font-size: 13px;
		font-weight: 600;
		margin-left: 4px;
		padding: 4px 8px;
		position: relative;
		text-decoration: none;
		text-shadow: none;
		top: -3px;
}
 a.add-new-h2, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, #media-items a.delete-permanently, .plugins a.delete, .ui-tabs-nav a, .plugins .inactive a {
		color: #0074A2;
		transition-duration: 0.05s;
		transition-property: border, background, color;
		transition-timing-function: ease-in-out;
}

 .wrap .add-new-h2:hover {
		background: none repeat scroll 0 0 #2EA2CC;
		color: #FFFFFF;
}


.button, .button-secondary {
		background: none repeat scroll 0 0 #F7F7F7;
		border-color: #CCCCCC;
		box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.08);
		color: #555555;
		vertical-align: top;
}

.com_layer_slider .button, .com_layer_slider .button-primary, .com_layer_slider .button-secondary {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing:border-box;
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		cursor: pointer;
		display: inline-block;
		font-size: 13px;
		height: 28px;
		line-height: 26px;
		margin: 0;
		padding: 0 10px 1px;
		text-decoration: none;
		white-space: nowrap;
}

.com_layer_slider input[type=search] {
	margin: 0;
}

#ls-slider-filters select {
	width: auto;
}

#ls-embed-modal-window .columns div.third:last-child div {
	opacity: 1 !important;
}
.columns div.third {
	width: 50%;
}

#ls-embed-modal-window input,
.ls-box input, .ls-box button,
#content input, #content select, #content textarea, .uneditable-input{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#ls-slider-form #ls-pages {
	padding: 0;
}

#ls-pages .ui-widget-content{
	border: none;
}

.ls-settings-sidebar li{
	display: block;
}

#ls-pages .thumbnails{
	margin-left: 10px;
}

#ls-list-page form.ls-box{
	margin-top: 15px;
}

.button.button-hero, .button-group.button-hero .button {
		font-size: 14px;
		height: 46px;
		line-height: 44px;
		padding: 0 36px;
}
.button-primary {
		background: none repeat scroll 0 0 #2EA2CC;
		border-color: #0074A2;
		box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
		color: #FFFFFF;
		text-decoration: none;
}

div.ls-image a.modal{
	display:block;
}

div.ls-image.hover a.modal {
		background: none;
		border-radius: 0px;
		box-shadow: none;
		display: block;
		height: auto;
		position: relative;
		right: 0;
		text-align: center;
		top: 0;
		width: auto;
}
div.ls-image.hover a:before {
	background: #fff;
	border-radius: 50%;
	width: 20px;
}

#ls-tr-builder-form .header.medium p{
	margin-top:-1px;
}

#ls-tr-builder-form input{
	margin-top: 0;
}

#ls-tr-builder-form label{
	margin-bottom: 0;

}


.tablenav .tablenav-pages a.disabled, .tablenav .tablenav-pages a.disabled:hover, .tablenav .tablenav-pages a.disabled:focus {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
		color: #AAAAAA;
}
.tablenav .tablenav-pages a {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
}

.tablenav .tablenav-pages a {
		font-size: 16px;
		font-weight: 400;
		padding: 0 10px 3px;
}
.tablenav .tablenav-pages a, .tablenav-pages span.current {
		padding: 3px 6px;
		text-decoration: none;
}
.tablenav-pages .next-page {
		margin-left: 2px;
}


.com_layer_slider.view-sliders .pagination-links{
	display:none;
}

#content input#title{
	height:38px;
	font-size: 22px;
}

a.create_module_tag,
a.module_tag{
	font-size: 10px;
	background-color: #abc34a;
	border-radius:3px;
	color: #FFFFFF;
	padding: 2px 5px;
	margin: 0 3px 3px 0;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
}

a.module_tag.unpublished{
	background-color: #c34a53;
}

a.create_module_tag{
	background-color: #2EA2CC;
	font-size: 11px;
}

a.create_module_tag:hover,
a.module_tag:hover{
	text-decoration: none;
	background-color: #bdd16d;
	color: #FFFFFF;
}

a.create_module_tag:hover{
	background-color: #45b8e2;
}

a.module_tag.unpublished:hover{
	background-color: #dc5d66;
}


/*OFFLAJN DASHBOARD*/

.panel.dashboard {
	margin: 50px 0 30px;
}

.panel.dashboard .pane-slider{
	height: 100%;
}

.panel.dashboard .column{
	float: left;
	width: 33.333%;
	overflow:hidden;
}

.panel.dashboard .dashboard-box{
	width:100%;
}

.panel.dashboard .dashboard-box .box-title{
	height:30px;
	border-left: 5px solid #ededed;
	padding-left: 5px;
	background-color: #f4f4f4;
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	color:#2577ad;
	line-height:30px;
	text-transform:uppercase;
	overflow: hidden;
}

.panel.dashboard .dashboard-box{
	border: 1px solid #cccccc;
	border-top:0;
}

.panel.dashboard .left .dashboard-box{
	border-left:0;
	border-bottom:0;
}

#related-news-iframe{
	height: 200px;
}

.panel.dashboard .mid .dashboard-box{
	border-right: 0;
	border-bottom: 0;
}

.panel.dashboard .dashboard-box .box-content{
	border-top: 1px solid #cccccc;
	background-color: #FFFFFF;
}

.panel.dashboard .dashboard-box .box-content .content-inner{
	padding: 7px;
	border-left: 5px solid #ededed;
	min-height: 77px;
	color: #393939;
}

.panel.dashboard .dashboard-box .box-content .content-inner .support-ticket-button{
	float: right;
	height: 21px;
	width: 110px;
	margin: 12px 5px 2px 5px;
}

.panel.dashboard .dashboard-box .box-content .content-inner .support-ticket-button a{
	height: 21px;
	width: 110px;
	display: block;
}

.panel.dashboard .dashboard-box .box-content .content-inner .support-us-button{
	float: right;
	height: 21px;
	width: 88px;
	margin: 12px 5px 2px 5px;
}

.panel.dashboard .dashboard-box .box-content .content-inner .support-us-button a{
	height: 21px;
	width: 88px;
	display: block;
}

.panel.dashboard div{
	font-size: 11px;
	line-height: 15px;
}

.ls-post-filters {
	min-width: 100%;
}
div.ls-post-filters select[multiple] {
	float: none;
	width: 175px;
	height: 200px;
	cursor: default;
}
div.ls-post-filters select[name=post_categories] {
	width: 285px;
}

div.ls-post-filters select:not([multiple]) {
	float: none;
	width: auto;
	height: auto !important;
}
